@import url("https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap");
.link__btn {
  padding: 15px 30px;
  border: none;
  border-radius: 5px;
  background: -webkit-gradient(linear, left top, right top, from(#f6fff2), to(#c3ffa9));
  background: linear-gradient(90deg, #f6fff2 0%, #c3ffa9 100%);
  font-family: "Alfa Slab One", cursive;
  color: #2c3333;
  cursor: pointer;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  -webkit-box-shadow: 0 5px 0px 0px #2c3333;
          box-shadow: 0 5px 0px 0px #2c3333;
}
.link__btn:hover {
  -webkit-transform: translateY(2px);
          transform: translateY(2px);
  -webkit-box-shadow: none;
          box-shadow: none;
}
.link__btn:active {
  -webkit-transform: scale(90%);
          transform: scale(90%);
}

.overflowHidden {
  overflow-y: hidden;
}

.social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  grid: 15px;
  margin-top: 25px;
  gap: 15px;
}
.social-item__image {
  width: 50px;
  height: 50px;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.social-item__image:hover {
  -webkit-transform: translateY(-2px);
          transform: translateY(-2px);
}

.title {
  background: -webkit-gradient(linear, left bottom, left top, from(#f6fff2), to(#c3ffa9));
  background: linear-gradient(0deg, #f6fff2 0%, #c3ffa9 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 4rem;
  text-align: center;
  text-transform: uppercase;
}

.description {
  text-align: center;
  font-size: 2rem;
  color: #ecffe1;
}

.text-3d {
  -webkit-filter: drop-shadow(2px 5px 0px #23162c);
          filter: drop-shadow(2px 5px 0px #23162c);
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #23162c;
}

.scroll-btn {
  position: fixed;
  right: 2%;
  bottom: 4%;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #ecffe1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 1000;
  cursor: pointer;
  display: none;
}
.scroll-btn:active {
  scale: 0.9;
}

.slide-in-right {
  -webkit-animation: slide-in-right 0.85s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slide-in-right 0.85s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@-webkit-keyframes slide-in-right {
  0% {
    -webkit-transform: translateX(1000px);
    transform: translateX(1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes slide-in-right {
  0% {
    -webkit-transform: translateX(1000px);
    transform: translateX(1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}
.slide-in-left {
  -webkit-animation: slide-in-left 0.85s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slide-in-left 0.85s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@-webkit-keyframes slide-in-left {
  0% {
    -webkit-transform: translateX(-1000px);
    transform: translateX(-1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes slide-in-left {
  0% {
    -webkit-transform: translateX(-1000px);
    transform: translateX(-1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}
.slide-in-fwd-center {
  -webkit-animation: slide-in-fwd-center 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slide-in-fwd-center 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@-webkit-keyframes slide-in-fwd-center {
  0% {
    -webkit-transform: translateZ(-1400px);
    transform: translateZ(-1400px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    opacity: 1;
  }
}
@keyframes slide-in-fwd-center {
  0% {
    -webkit-transform: translateZ(-1400px);
    transform: translateZ(-1400px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    opacity: 1;
  }
}
.tracking-in-expand {
  -webkit-animation: tracking-in-expand 0.7s cubic-bezier(0.215, 0.61, 0.355, 1) both;
  animation: tracking-in-expand 0.7s cubic-bezier(0.215, 0.61, 0.355, 1) both;
}

@-webkit-keyframes tracking-in-expand {
  0% {
    letter-spacing: -0.5em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}
@keyframes tracking-in-expand {
  0% {
    letter-spacing: -0.5em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}
.scale-in-center {
  -webkit-animation: scale-in-center 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: scale-in-center 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@-webkit-keyframes scale-in-center {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
  }
}
@keyframes scale-in-center {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
  }
}
.header {
  background-color: #23162c;
}
.header .wrapper {
  padding: 0 15px;
}
.header .navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px 0;
  position: relative;
  z-index: 100;
}
.header .navbar .list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 35px;
}
.header .navbar .list-item__link {
  color: #fff;
  font-size: 1.2rem;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.header .navbar .list-item__link:hover {
  color: #c3ffa9;
}
.header .navbar .link__btn {
  -webkit-box-shadow: none;
          box-shadow: none;
}
.header .navbar .hamb {
  display: none;
  cursor: pointer;
}
.header .navbar .hamb__bar {
  display: block;
  width: 35px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: #fff;
}

.nft .home {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-top: 150px;
  padding-bottom: 250px;
  position: relative;
  background-image: url("/images/home/banner-bg.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  width: 100%;
  height: auto;
}
.nft .home__title {
  background: -webkit-gradient(linear, left bottom, left top, from(#f6fff2), to(#c3ffa9));
  background: linear-gradient(0deg, #f6fff2 0%, #c3ffa9 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-transform: uppercase;
  text-align: center;
  font-size: 5rem;
}
.nft .home__description {
  margin-top: 50px;
  text-align: center;
  font-size: 2rem;
  color: #ecffe1;
}
.nft .home .link__btn {
  display: block;
  margin: 0 auto;
  margin-top: 50px;
}
.nft .home .home-ape__image-1,
.nft .home .home-ape__image-2,
.nft .home .home-ape__image-3,
.nft .home .home-ape__image-4 {
  position: absolute;
  width: 20%;
  height: auto;
  bottom: 0;
}
.nft .home .home-ape__image-1 {
  left: 1%;
}
.nft .home .home-ape__image-4 {
  left: 18%;
}
.nft .home .home-ape__image-2 {
  right: 1%;
}
.nft .home .home-ape__image-3 {
  right: 18%;
}

.nft .collection {
  background-color: #23162c;
  padding: 150px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.nft .collection__description {
  margin-top: 25px;
}
.nft .collection .cards {
  margin-top: 50px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 25px 1fr 25px 1fr 25px 1fr;
  grid-template-columns: repeat(4, 1fr);
  justify-items: center;
  grid-auto-rows: 200px;
  gap: 25px;
}
.nft .collection .cards:last-child {
  margin-top: 25px;
}
.nft .collection .cards-item {
  border-radius: 5px;
  background-color: #fff;
  overflow: hidden;
  width: 200px;
  height: 200px;
}
.nft .collection .cards-item__image {
  width: 100%;
  height: 100%;
}
.nft .collection .link__btn {
  display: block;
  margin: 0 auto;
  -webkit-box-shadow: none;
          box-shadow: none;
  margin-top: 50px;
}

.nft .mint {
  padding-top: 150px;
  background-image: url("/images/home/banner-bg.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
  width: 100%;
  height: auto;
}
.nft .mint-wrapper {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
  grid-template-columns: repeat(2, 1fr);
}
.nft .mint .info {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
  grid-template-columns: repeat(2, 1fr);
  height: 100%;
}
.nft .mint .info-item {
  padding: 25px;
}
.nft .mint .info-item__title {
  color: #ecffe1;
  font-size: 1.3rem;
}
.nft .mint .info-item__score {
  color: #ecffe1;
  font-size: 4rem;
}
.nft .mint .info-item__total {
  color: #93d676;
  font-size: 2rem;
}
.nft .mint .images__item {
  display: block;
  width: 100%;
  height: 100%;
}
.nft .mint .link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.nft .mint .link__btn {
  display: block;
  width: 75%;
  text-align: center;
}

.nft .rm {
  padding: 150px 0;
  background-color: #23162c;
}
.nft .rm__description {
  margin-top: 25px;
}
.nft .rm .cards {
  margin-top: 50px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 25px 1fr 25px 1fr;
  grid-template-columns: repeat(3, 1fr);
  gap: 25px;
}
.nft .rm .cards .card {
  background: -webkit-gradient(linear, left bottom, left top, from(#f6fff2), to(#c3ffa9));
  background: linear-gradient(0deg, #f6fff2 0%, #c3ffa9 100%);
  padding: 50px 25px;
  border-radius: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.nft .rm .cards .card-number {
  padding: 25px;
  border-radius: 50%;
  background-color: green;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 75px;
  height: 75px;
}
.nft .rm .cards .card-number__item {
  color: #2c3333;
}
.nft .rm .cards .card__title {
  color: #2c3333;
  margin-top: 25px;
  font-size: 1.875rem;
  text-align: center;
}
.nft .rm .cards .card__description {
  color: #2c3333;
  text-align: center;
  margin-top: 15px;
  font-size: 1.125rem;
}

.nft .team {
  padding: 150px 0;
  background-image: url("/images/home/banner-bg.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
  width: 100%;
  height: auto;
}
.nft .team__description {
  margin-top: 25px;
}
.nft .team .members {
  margin-top: 50px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 15px 1fr 15px 1fr 15px 1fr 15px 1fr;
  grid-template-columns: repeat(5, 1fr);
  gap: 15px;
}
.nft .team .members .card {
  padding: 35px 25px;
  border-radius: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: -webkit-gradient(linear, left bottom, left top, from(#c3ffa9), to(#f6fff2));
  background: linear-gradient(0deg, #c3ffa9 0%, #f6fff2 100%);
}
.nft .team .members .card-image {
  border-radius: 50%;
  width: 160px;
  height: 160px;
  border: 2px solid black;
  background-color: #93d676;
}
.nft .team .members .card__title {
  margin-top: 25px;
  color: #23162c;
  font-size: 1.5rem;
  text-align: center;
}
.nft .team .members .card__description {
  margin-top: 10px;
  color: #2c3333;
  font-size: 1.1rem;
  text-align: center;
}

.nft .faq {
  background-color: #23162c;
  padding-top: 150px;
  position: relative;
}
.nft .faq-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 25px;
}
.nft .faq .info {
  width: 55%;
  padding-bottom: 50px;
}
.nft .faq .info__title {
  text-align: left;
}
.nft .faq .info .list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 50px;
}
.nft .faq .info .list .item {
  background: -webkit-gradient(linear, left bottom, left top, from(#f6fff2), to(#c3ffa9));
  background: linear-gradient(0deg, #f6fff2 0%, #c3ffa9 100%);
  padding: 15px;
  color: #2c3333;
  margin-top: 15px;
}
.nft .faq .info .list .item__question {
  cursor: pointer;
  font-size: 1.3rem;
}
.nft .faq .info .list .item__answer {
  margin-top: 15px;
}
.nft .faq-image__item {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 35%;
  height: auto;
}

.nft .join {
  padding: 150px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-image: url("/images/join/bg.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  width: 100%;
  height: auto;
}
.nft .join__description {
  margin-top: 25px;
}
.nft .join .link__btn {
  display: block;
  margin: 0 auto;
  margin-top: 50px;
  text-transform: uppercase;
}

.nft .follow {
  padding: 150px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #23162c;
}
.nft .follow__description {
  margin-top: 25px;
}
.nft .follow-social {
  margin-top: 50px;
}

.footer {
  padding: 25px 0;
  background-color: #23162c;
  border-top: 1px solid #2c3333;
}
.footer__text {
  text-align: center;
  color: #ecffe1;
  font-size: 1.1rem;
}
.footer__text a {
  color: #93d676;
  text-transform: uppercase;
}
.footer__text a:hover {
  opacity: 0.75;
}

@media (max-width: 1200px) {
  .header .navbar .list {
    gap: 20px;
  }
  .header .navbar .list-item__link {
    font-size: 1.1rem;
  }
  .nft .home {
    padding-bottom: 200px;
  }
  .nft .home__title {
    font-size: 4.5rem;
  }
  .nft .home__description {
    font-size: 1.7rem;
  }
  .nft .collection .cards {
    -ms-grid-columns: (1fr)[3];
    grid-template-columns: repeat(3, 1fr);
  }
  .nft .rm .cards .card__title {
    font-size: 1.7rem;
  }
  .nft .rm .cards .card__description {
    font-size: 1.1rem;
  }
  .nft .team .members {
    -ms-grid-columns: 1fr 45px 1fr 45px 1fr;
    grid-template-columns: repeat(3, 1fr);
    gap: 45px;
  }
  .title {
    font-size: 3rem;
  }
  .description {
    font-size: 1.7rem;
  }
}
@media (max-width: 992px) {
  .header .navbar {
    position: relative;
    padding: 10px 0;
  }
  .header .navbar .list {
    position: fixed;
    display: block;
    left: -100%;
    top: 0;
    gap: 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 0 auto;
    background-color: #23162c;
    width: 100%;
    height: 100%;
    text-align: center;
    -webkit-transition: 0.3s;
    transition: 0.3s;
  }
  .header .navbar .list-item {
    margin: 25px 0;
    width: 100%;
  }
  .header .navbar .list-item__link {
    font-size: 2rem;
    display: block;
    width: 100%;
  }
  .header .navbar .list-item:first-child {
    margin-top: 150px;
  }
  .header .navbar .hamb {
    display: block;
  }
  .header .navbar .activeNav {
    left: 0;
  }
  .header .navbar .active .hamb__bar:nth-child(2) {
    opacity: 0;
  }
  .header .navbar .active .hamb__bar:nth-child(1) {
    -webkit-transform: translateY(8px) rotate(45deg);
            transform: translateY(8px) rotate(45deg);
  }
  .header .navbar .active .hamb__bar:nth-child(3) {
    -webkit-transform: translateY(-8px) rotate(-45deg);
            transform: translateY(-8px) rotate(-45deg);
  }
  .header .navbar .link__btn {
    position: absolute;
    right: 10%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
  }
  .nft .home {
    padding-bottom: 150px;
  }
  .nft .home__title {
    font-size: 4rem;
  }
  .nft .home__description {
    font-size: 1.5rem;
  }
  .nft .collection .cards {
    -ms-grid-columns: (1fr)[2];
    grid-template-columns: repeat(2, 1fr);
  }
  .nft .mint .wrapper {
    -ms-grid-columns: (1fr)[1];
    grid-template-columns: repeat(1, 1fr);
  }
  .nft .mint .info-item__title {
    font-size: 1.2rem;
  }
  .nft .mint .info-item__score {
    font-size: 3.5rem;
  }
  .nft .mint .info-item__total {
    font-size: 1.5rem;
  }
  .nft .mint .images__item {
    display: block;
    margin: 0 auto;
    width: 50%;
    height: auto;
  }
  .nft .rm .cards {
    -ms-grid-columns: (1fr)[2];
    grid-template-columns: repeat(2, 1fr);
  }
  .nft .rm .cards .card__title {
    font-size: 1.5rem;
  }
  .nft .rm .cards .card__description {
    font-size: 1rem;
  }
  .nft .team .members .card__title {
    font-size: 1.4rem;
  }
  .title {
    font-size: 2.5rem;
  }
  .description {
    font-size: 1.5rem;
  }
}
@media (max-width: 768px) {
  .nft .home__title {
    font-size: 3rem;
  }
  .nft .home__description {
    font-size: 1.3rem;
  }
  .nft .mint .info-item__title {
    font-size: 1.1rem;
  }
  .nft .mint .info-item__score {
    font-size: 3rem;
  }
  .nft .mint .info-item__total {
    font-size: 1.3rem;
  }
  .nft .rm .cards .card__title {
    font-size: 1.3rem;
  }
  .nft .rm .cards .card__description {
    font-size: 0.9rem;
  }
  .nft .team .members {
    -ms-grid-columns: (1fr)[2];
    grid-template-columns: repeat(2, 1fr);
  }
  .nft .team .members .card__title {
    font-size: 1.3rem;
  }
  .nft .faq-wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .nft .faq .info {
    width: 100%;
  }
  .nft .faq .info .list .item__question {
    font-size: 1.2rem;
  }
  .nft .faq .info .list .item__answer {
    font-size: 0.9rem;
  }
  .nft .faq-image__item {
    display: block;
    margin: 0 auto;
    position: relative;
    width: 50%;
    height: auto;
  }
  .footer__text {
    font-size: 1rem;
  }
  .title {
    font-size: 2rem;
  }
  .description {
    font-size: 1.3rem;
  }
}
@media (max-width: 576px) {
  .header .navbar .list-item__link {
    font-size: 1.5rem;
  }
  .header .navbar .link {
    display: none;
  }
  .nft .home {
    padding: 100px 0;
  }
  .nft .home__title {
    font-size: 2rem;
  }
  .nft .home__description {
    font-size: 1rem;
  }
  .nft .home__btn {
    margin-top: 25px;
    width: 100%;
  }
  .nft .home .home-ape__image-1,
.nft .home .home-ape__image-2,
.nft .home .home-ape__image-3,
.nft .home .home-ape__image-4 {
    display: none;
  }
  .nft .collection {
    padding: 100px 0;
  }
  .nft .collection .cards {
    -ms-grid-columns: (1fr)[1];
    grid-template-columns: repeat(1, 1fr);
  }
  .nft .collection__btn {
    margin-top: 25px;
    width: 100%;
  }
  .nft .mint {
    padding-top: 100px;
  }
  .nft .mint .info {
    -ms-grid-columns: (1fr)[2];
    grid-template-columns: repeat(2, 1fr);
  }
  .nft .mint .info-item {
    padding: 20px;
  }
  .nft .mint .info-item__title {
    font-size: 1rem;
  }
  .nft .mint .info-item__score {
    font-size: 2rem;
  }
  .nft .mint .info-item__total {
    font-size: 1.2rem;
  }
  .nft .mint .info .btn {
    width: 100%;
  }
  .nft .rm {
    padding: 100px 0;
  }
  .nft .rm .cards {
    -ms-grid-columns: (1fr)[1];
    grid-template-columns: repeat(1, 1fr);
  }
  .nft .rm .cards .card__title {
    font-size: 1.2rem;
  }
  .nft .team {
    padding: 100px 0;
  }
  .nft .team .members {
    -ms-grid-columns: (1fr)[1];
    grid-template-columns: repeat(1, 1fr);
  }
  .nft .team .members .card__title {
    font-size: 1.2rem;
  }
  .nft .team .members .card__description {
    font-size: 1rem;
  }
  .nft .faq {
    padding-top: 100px;
  }
  .nft .faq-image__item {
    width: 75%;
    height: auto;
  }
  .nft .join {
    padding: 100px 0;
  }
  .nft .join-wrapper {
    width: 100%;
  }
  .nft .join__btn {
    width: 100%;
  }
  .nft .follow {
    padding: 100px 0;
  }
  .footer__text {
    font-size: 0.9rem;
  }
  .social-item__image {
    width: 35px;
    height: 35px;
  }
  .title {
    font-size: 1.5rem;
  }
  .description {
    font-size: 1rem;
  }
}
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  width: 100%;
  height: auto;
  font-family: "Alfa Slab One", cursive;
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: inherit;
}

ol,
ul {
  list-style: none;
}

.wrapper {
  max-width: 1230px;
  margin: 0 auto;
  padding: 0 15px;
}