.nft {
  .join {
    padding: 150px 0;
    display: flex;
    justify-content: center;
    flex-direction: column;

    &__description {
      margin-top: 25px;
    }

    .link {
      &__btn {
        display: block;
        margin: 0 auto;
        margin-top: 50px;
        text-transform: uppercase;
      }
    }
  }
}
