.nft {
  .mint {
    padding-top: 150px;

    background-image: url("/images/home/banner-bg.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    width: 100%;
    height: auto;

    &-wrapper {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
    }

    .info {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      height: 100%;
      &-item {
        padding: 25px;
        &__title {
          color: $text-color;
          font-size: 1.3rem;
        }

        &__score {
          color: $text-color;
          font-size: 4rem;
        }

        &__total {
          color: $green-color;
          font-size: 2rem;
        }
      }
    }

    .images {
      &__item {
        display: block;
        width: 100%;
        height: 100%;
      }
    }

    .link {
      display: flex;
      justify-content: center;
      align-items: center;
      &__btn {
        display: block;
        width: 75%;
        text-align: center;
      }
    }
  }
}
