.nft {
  .rm {
    padding: 150px 0;
    background-color: $main-color;

    &__description {
      margin-top: 25px;
    }

    .cards {
      margin-top: 50px;
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 25px;
      .card {
        background: linear-gradient(0deg, #f6fff2 0%, #c3ffa9 100%);
        padding: 50px 25px;
        border-radius: 5px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        &-number {
          padding: 25px;
          border-radius: 50%;
          background-color: green;
          display: flex;
          justify-content: center;
          align-items: center;
          width: 75px;
          height: 75px;
          &__item {
            color: $dark-color;
          }
        }
        &__title {
          color: $dark-color;
          margin-top: 25px;
          font-size: 1.875rem;
          text-align: center;
        }

        &__description {
          color: $dark-color;
          text-align: center;
          margin-top: 15px;
          font-size: 1.125rem;
        }
      }
    }
  }
}
